html {
  font-family: sans-serif;
}

body {
  margin: 0;

}

h1 {
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
}

.menuItem {
	margin: 5px;
	background-color: #d9d9d9;
	border: 2px solid black;*/
}

.category {
	float: right;
	position: relative;
	text-align: center;
	padding-top: 5px;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	height: 25px;
	width: 100px;
	font-weight: bold;
}

.description {
	float: clear;
	margin: 10px;
	margin-top: 50px;
}

.bg1 {
	background-color: #d59898;
}

.bg2 {
	background-color: #c14543;
	color: white;

}

.bg3 {
	background-color: #e5d198;
}

.col-xs-12 {
	float: left;
	width: 99.9%;
}


@media (min-width: 768px) {
	.col-md-6, .col-md-12 {
		float: left;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 99.9%;
	}
}

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.3%;
	}
}

